# **Conditional Statement**:

Decision-making statements in programming languages decide the direction of the flow of program
execution. In Python, if-else-elif statement is used for decision making.

## **if_statement:**

In [ ]:
Syntax:
if condition:
    # Statements to execute if condition is true

In [ ]:
i=16
if i>15:
    print("10 is less than 15")

10 is less than 15

In [ ]:
if condition:
    statement1
statement2
# Here if the condition is true, if block
# will consider only statement1 to be inside
# its block.

In [ ]:
i=10
if i>15:
    print("10<15")
print("im not in if loop and i will execute without a condition")

im not in if loop and i will execute without a condition

In [ ]:
i=16
if i<15:
    print("10<15")
print("im not in if loop and i will execute without a condition")

im not in if loop and i will execute without a condition

**for practice:**

Example 1: Check if a Number is Positive

Example 2: Check if a Number is Even

Example 3: Check if a Number is Less Than 100

Example 4: Check if a String is Empty

Example 5: Check if a List is Not Empty

## **if_else statement:**

In [ ]:
Syntax:
if (condition):
   # Executes this block if condition is True
else:
   # Executes this block if condition is false

In [ ]:
number=int(input("Enter the number: "))
if number<15:
    print(f"the number {number} is less than 15")
else:
    print(f"the number {number} is greater than 15")
print("i'm not under any condition")

Enter the number: 20
the number 20 is greater than 15
i'm not under any condition

In [ ]:
#EVEN NUMBER CHECK
number=int(input("Enter the number : "))
if number%2==0:
    print(f"{number} is even number")
else:
    print(f"{number} is odd number")

Enter the number : 0
0 is even number

**for practice:**

Question 1: Check if a Number is Positive or Negative

Question 2: Determine the Bigger Number

Question 3: Check if a Year is Leap Year or Not

Question 4: Check if a Year is a Century Year

Question 5: Check if a Number is Even or Odd

## **if-elif-else ladder:**

In [ ]:
number=int(input("Enter the number: "))
if number<15:
    print(f"the number {number} is less than 15")
elif number >15:
    print(f"the number {number} is greater than 15")
else:
    print(f"the given number is 15 itself")
print("i'm not under any condition")

Enter the number: 15
the given number is 15 itself
i'm not under any condition

**for practice**

Question 1: Check if a Number is Positive, Negative, or Zero

Take an integer input from the user. Print whether the number is positive, negative, or zero.

Question 2: Determine the Bigger Number among Three

Take three integer inputs from the user. Print the bigger of the three numbers.

Question 3: Categorize Age Groups

Take a person's age as input. Categorize and print the person's age group: "Child" (0-12), "Teen" (13-19), "Adult" (20-59), or "Senior" (60 and above).

Question 4: Check Pass or Fail

Take a student's score as input. Print "Pass" if the score is 50 or above, otherwise print "Fail".

Question 5: Determine Quadrant

Take the x and y coordinates of a point as input. Determine and print which quadrant the point lies in: 1st, 2nd, 3rd, or 4th quadrant.

### **Short Hand if statement:**

In [ ]:
Syntax:
if condition: statement

In [ ]:
number=int(input("Enter the number : "))
if number<15 : print(f"{number} is less than 15")

Enter the number : 13
13 is less than 15

### **if_else statement in comprehension:**

In [ ]:
number=int(input("Enter the number : "))
print(f"{number} is less than or equal to 15") if number<=15 else print(f"the {number} is greater than 15")

Enter the number : 15
15 is less than or equal to 15

**for practice:**
 Question 1: Check if a Number is Positive or Negative

Take an integer input from the user. Print whether the number is positive or negative using the shorthand if-else statement.

Question 2: Determine the Bigger Number

Take two integer inputs from the user. Print the bigger of the two numbers using the shorthand if-else statement.

Question 3: Check Pass or Fail

Take a student's score as input. Print "Pass" if the score is 50 or above, otherwise print "Fail" using the shorthand if-else statement.

Question 4: Determine Quadrant

Take the x and y coordinates of a point as input. Determine and print which quadrant the point lies in (1st, 2nd, 3rd, or 4th quadrant) using the shorthand if-else statement.

## **Nested_if statement:**

In [ ]:
Syntax:
if (condition1):
   # Executes when condition1 is true
   if (condition2):
       # Executes when condition2 is true
   # if Block is end here
# if Block is end here

In [ ]:
number=int(input("Enter the number : "))
if number<=15:
    print(f"{number} is less than or equal to 15")
    if number==15:
        print("The given number is 15 itself")
else:
    print(f"{number} is greater than 15")

Enter the number : 16
16 is greater than 15

In [ ]:
#EVEN NUMBER CHECK
number=int(input("Enter the number : "))
if number<=10:
    if number%2==0:
        print(f"{number} is even")
    else:
        print(f"{number} is odd")
else:
    print(f"{number} is greater than 10")

Enter the number : 9
9 is odd

**for practice**

**Question 1: Categorize Age and Gender**

Question: Take a person's age and gender as input. Categorize and print the person's age group: "Child" (0-12), "Teen" (13-19), "Adult" (20-59), or "Senior" (60 and above), along with "Male" or "Female".

**Question 2: Find the Maximum of Three Numbers**

Question: Take three integer inputs from the user. Find and print the maximum of the three numbers.

**Question 3: Determine Discount Based on Quantity**

Question: Take the quantity of items purchased as input. Determine the discount amount based on the following criteria: no discount for 1-2 items, 10% discount for 3-5 items, and 20% discount for 6 or more items.

**Question 4: Determine Grade with Bonus Points**

Question: Take a student's score as input. Add bonus points based on the score range: 5 bonus points if the score is 90 or above, 2 bonus points if the score is 80-89, and no bonus points otherwise. Print the final score.

**Question 5: Determine Student's Performance**

Question: Take a student's score as input. Determine and print the student's performance level: "Excellent" for 90 and above, "Good" for 80-89, "Average" for 70-79, and "Needs Improvement" for below 70.

# **Control flow statements (Loops):**
The loops in Python are:

1.For and for-else loop

2.While and while-else loop

## **Python For Loops**
it is used for iterating over an iterable like String, Tuple, List, Set or Dictionary.

In [ ]:
For Loops Syntax
for var in iterable:
    # statements

In [ ]:
# list iteration
list1=[2,3,5,6,2]
for number in list1:
    print(number)

2
3
5
6
2

In [ ]:
# dictionary iteration
dictionary1={"a":12,"s":23,"d":25}
for key in dictionary1.keys():
   print(f"{key}")

a
s
d

In [ ]:
# dictionary iteration
dictionary1={"a":12,"s":23,"d":25}
for key in dictionary1.keys():
   print(f"{key}:{dictionary1[key]}")

a:12
s:23
d:25

In [ ]:
# dictionary iteration
dictionary1={"a":12,"s":23,"d":25}
for value in dictionary1.values():
   print(f"{value}")

12
23
25

In [ ]:
# dictionary iteration
dictionary1={"a":12,"s":23,"d":25}
for key in dictionary1:
   print(f"{key}:{dictionary1[key]}")

a:12
s:23
d:25

In [ ]:
# dictionary iteration
dictionary1={"a":12,"s":23,"d":25}
for key,value in dictionary1.items():
   print(f"{key}:{value}")

a:12
s:23
d:25

In [ ]:
# string iteration
string1="python is good"
for letter in string1:
    print(letter)

p
y
t
h
o
n

i
s

g
o
o
d

For Practice:

1. Iterating through a List:
Given a list of fruits, print each fruit on a new line.

2. Iterating through a Tuple:

 Print the names and ages of each person from the given tuple.

3. Iterating through a String:

 Count the number of vowels in the given string.

4. Iterating through a Set:

 Print each unique element from the given set.

5. Iterating through a Dictionary:
Given a dictionary of student names and their corresponding scores, print each student's name and score.

### **Range Function in Python:**

In [ ]:
for i in range(2,10):
    print(i)

2
3
4
5
6
7
8
9

In [ ]:
for i in range(2,10,2):
    print(i)

2
4
6
8

In [ ]:
#to find sum of 10 numbers
sum=0
for i in range(0,11):
    sum+=i
print(sum)

55

In [ ]:
#to find the sum of N number
number=int(input("Enter the number that you wanted to find the sum : "))
sum=0
for i in range(0,number+1):
    sum+=i
print(sum)

Enter the number that you wanted to find the sum : 12354
76316835

for practice:

1. Printing Numbers:

 Print the numbers from 1 to 10.

2. Sum of Even Numbers:

 Calculate and print the sum of even numbers from 1 to 20.

3. Multiplication Table:

 Print the multiplication table of 5.

4. Countdown:

 Print a countdown from 10 to 1.

5. Squares of Numbers:

 Calculate and print the squares of numbers from 1 to 5.

## **Python Control Statements:**


*   continue
*   break
*   pass

In [ ]:
# continue statement
for i in range(1,10):
    if i==3:
        continue
    print(i)

1
2
4
5
6
7
8
9

In [ ]:
# break statement
for i in range(1,10):
    if i==3:
        break
    print(i)

1
2

In [ ]:
# pass statement
for i in range(1,10):
    if i==3:
        pass
    print(i)

1
2
3
4
5
6
7
8
9

for practice:

1. Using break Statement:

 Find the first even number in a list and print it.

2. Using continue Statement:

 Print all odd numbers from 1 to 10, but skip the number 7.

4. Using break to Find Divisible Number:

 Find the smallest multiple of 7 that is greater than 50 and print it.

5. Using continue to Filter Even Numbers:

 Print all even numbers from 1 to 20, but skip multiples of 6

6. Using pass for Placeholder Logic:

 Print a Fibonacci sequence of length 10. For now, include a pass statement to indicate where the Fibonacci calculation logic should be added.

 note:

 The Fibonacci sequence is a series of numbers in which each number is the sum of the two that precede it. Starting at 0 and 1, the first 10 numbers of the sequence look like this: 0, 1, 1, 2, 3, 5, 8, 13, 21, 34, and so on forever.

### **For loop with if_else statement:**

In [ ]:
# FOR LOOP WITH ELSE STATEMENT
for i in range(0,10):
    print(i,end=" ")
else:
    print(" ")
    print("statement in the else condition")

0 1 2 3 4 5 6 7 8 9
statement in the else condition

In [ ]:
# FOR LOOP WITH ELSE STATEMENT
for i in range(0,10):
    print(i,end=" ")
    break
else:
    print("statement in the else condition")

0

In [ ]:
# FOR LOOP WITH ELSE STATEMENT
for i in range(0,10):
    break
    print(i,end=" ")
else:
    print("statement in the else condition")

In [ ]:
# FOR LOOP WITH ELSE STATEMENT
for i in range(0,10):
    if i==5:
        break
    print(i,end=" ")
else:
    print("statement in the else condition")

0 1 2 3 4

In [ ]:
for i in range(1,4):
    if i%5==0:
       print(i,end=" ")
       break
else:
     print("\n"," i will execute without break")

  i will execute without break

## **for practice:**


1. Checking for Prime Numbers:

 Determine and print whether each number from 1 to 10 is prime or not.

2. Classifying Numbers:

 Classify each number from 1 to 10 as even or odd.

3. Grading Students:

 Given a list of student scores, determine and print their corresponding grades.

4. Counting Positive, Negative, and Zero Numbers:

 Given a list of numbers, count and print the number of positive, negative, and zero values.

5. Categorizing Even and Odd Length Words:

 Given a list of words, categorize each word as having an even or odd number of characters.

6. Identifying Palindromes:

 Given a list of words, determine and print whether each word is a palindrome or not.

7. Checking Leap Years:

 Determine and print whether each year from 2000 to 2020 is a leap year or not.

8. Identifying Uppercase and Lowercase Letters:

 Given a string, classify each character as uppercase, lowercase, or neither.

9. Categorizing Numbers:

 Given a list of numbers, categorize each number as positive, negative, or zero.

10. Detecting Palindromic Sentences:

 Given a list of sentences, determine and print whether each sentence is a palindrome or not (ignoring spaces and capitalization).

### **Short hand for loop:**

In [ ]:
squares = [x ** 2 for x in range(1, 6)]
print(squares)

[1, 4, 9, 16, 25]

In [ ]:
#short hand for loop with if_else statement
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
even_squared = [x ** 2 if x % 2 == 0 else x for x in numbers ]
print(even_squared)

[1, 4, 3, 16, 5, 36, 7, 64, 9, 100]

## **For Practice:**

1. Squaring Numbers:

 Create a list containing the squares of numbers from 1 to 5 using a list comprehension.

2. Extracting Even Numbers:

 Create a list containing even numbers from 1 to 10 using a list comprehension.

3. Generating a Pattern:

 Create a list of strings representing a pattern of '*' characters using a list comprehension.

4. Converting to Uppercase:

 Create a list of uppercase versions of words from a given list of words using a list comprehension.

5. Filtering Positive Numbers:

 Create a list containing only positive numbers from a given list of integers using a list comprehension.

## **Nested for loop in python**

In [ ]:
# nested for loop
Syntax:
for iterator_var in sequence:
    for iterator_var in sequence:
          statements
    statements

In [ ]:
for i in range(1,5):
    for j in range(i):
        print(i,end=" ")
    print(" ")

1
2 2
3 3 3
4 4 4 4

In [ ]:
for i in range(1,6):
    for j in range(i):
        print("*",end=" ")
    print(" ")

*
* *
* * *
* * * *
* * * * *

In [ ]:
for i in range(5, 0, -1):  # Start from 5 and decrement by 1
    for j in range(i):
        print("*", end=" ")
    print(" ")

* * * * *
* * * *
* * *
* *
*

In [ ]:
rows = 5
k = 2 * rows - 2
for i in range(0, rows):
    # process each column
    for j in range(0, k):
        # print space in pyramid
        print(end=" ")
    k = k - 2
    for j in range(0, i + 1):
        # display star
        print("* ", end="")
    print("")

        *
      * *
    * * *
  * * * *
* * * * *

In [ ]:
# lower triangle
for i in range(5):
    # print spaces
    for j in range(i + 1):
        print(' ', end=' ')
    # print stars
    for k in range(5 - i ):
        print('*', end=' ')
    print()

  * * * * *
    * * * *
      * * *
        * *
          *

In [ ]:
for i in range(5):
    for j in range(i+1):
        print("1",end=" ")
    for k in range(5-i):
        print("*",end=" ")
    print()

1 * * * * *
1 1 * * * *
1 1 1 * * *
1 1 1 1 * *
1 1 1 1 1 *

In [ ]:
for i in range(1, 6):  # Start from 1 and go up to 5
    for j in range(5, i, -1):  # Print spaces
        print(" ", end="")
    for k in range(1,i+1):  # Print asterisks
        print(i, end=" ")
    print( )  # Move to the next line

    1
   2 2
  3 3 3
 4 4 4 4
5 5 5 5 5

In [ ]:
for i in range(5, 0, -1):  # Start from 5 and decrement by 1
    for j in range(5 - i):  # Print spaces
        print(" ", end="")
    for k in range(i):  # Print asterisks
        print("*", end=" ")
    print(" ")  # Move to the next line

* * * * *
 * * * *
  * * *
   * *
    *

for practice:

1. Printing a Multiplication Table:

 Print the multiplication table from 1 to 5 using nested for loops.

2. Creating a Triangle:

 Create a right-angled triangle pattern using nested for loops.

3. Generating a 2D Grid:

 Generate a 2D grid of ones using nested for loops.

3. Generating a 2D Grid:

 Generate a 2D grid of ones using nested for loops.

4. Multiplying Matrices:

 Multiply two matrices using nested for loops.

5. Creating a Chessboard Pattern:

 Create a chessboard pattern using nested for loops.

# **While Loop in Python**

In python, a while loop is used to execute a block of statements repeatedly until a given condition is
satisfied.

In [ ]:
Syntax :
loop intialization statement
while expression:
    statement
    loop increment statement

In [ ]:
#for i in range(2,10,2):
#    print(i)
n=2
while n<10:
    print(n)
    n+=2

2
4
6
8

In [ ]:
#iterating a list using while loop
my_list = [1, 2, 3, 4, 5]
index = 0

while index < len(my_list):
    print(my_list[index])
    index += 1

1
2
3
4
5

In [ ]:
#iterating  a dictionary using while loop
my_dict = {'a': 1, 'b': 2, 'c': 3}
keys = list(my_dict.keys())  # Get the keys as a list
index = 0

while index < len(keys):
    key = keys[index]
    value = my_dict[key]
    print(key,":", value)
    index += 1

a : 1
b : 2
c : 3

## **for practice:**

1. Iterating Through a List:

 Print each element of a given list using a while loop.

2. Iterating Through a Tuple:

 Print each element of a given tuple using a while loop.

3. Iterating Through a String:

 Print each character of a given string in reverse order using a while loop.

4. Iterating Through a Set:

 Print each element of a given set using a while loop.

5. Iterating Through a Dictionary:

 Print each key and value of a given dictionary using a while loop.

## **while loop with else statement:**

In [ ]:
while condition:
    # Loop body
else:
    # Code to execute when the loop condition becomes False

In [ ]:
num = 1
while num <= 5:
    print(num)
    num += 1
else:
    print("Loop finished")

1
2
3
4
5
Loop finished

In [ ]:
#concept of infinite loop
number= int(input("Enter a number : "))
while number<10:
    print(number)
    break
else:
    print("{number} is greater than or equal to 10")

Enter a number : 1
1

In [ ]:
#while loop with if else statement
while condition:
    # Loop body
    if condition_1:
        # Code to execute if condition_1 is true
    else:
        # Code to execute if condition_1 is false

In [ ]:
num = 1
while num <= 5:
    if num % 2 == 0:
        print(num, "is even")
    else:
        print(num, "is odd")
    num += 1

1 is odd
2 is even
3 is odd
4 is even
5 is odd

In [ ]:
num = int(input("Enter a number : "))
while num !=0:
    if num % 2 == 0:
        print(num, "is even")
    else:
        print(num, "is odd")
    num =int(input("Enter a number : "))

Enter a number : 22
22 is even
Enter a number : 24
24 is even
Enter a number : 0

## **for practice:**

1. Guessing Game:

 Create a number guessing game where the user has to guess a secret number between 1 and 10. Provide feedback based on the user's guess.

2. Countdown Timer:

 Create a countdown timer that starts from a given number and counts down to zero.

3. Finding Prime Numbers:

 Determine and print the prime numbers between 1 and 20 using a while loop.

4. Sum of Digits:

 Calculate and print the sum of digits of a given positive integer.

5. Password Verification:

 Implement a simple password verification system that allows the user three attempts to enter the correct password.

### **short hand while loop:**

In [ ]:
count = 0
while count < 5: count += 1; print(count)

1
2
3
4
5

## **For Practice:**

1. Counting Down Even Numbers:

 Print even numbers from 10 to 2 in descending order using a shorthand while loop.

2. Printing Powers of 2:

 Print the powers of 2 from 2^0 to 2^5 using a shorthand while loop.

3. Summing Positive Integers:

 Calculate and print the sum of positive integers from 1 to 10 using a shorthand while loop.

4. Generating a List of Squares:

 Generate a list containing the squares of numbers from 1 to 5 using a shorthand while loop.

5. Countdown with Message:

 Create a countdown timer that prints a message for each second, starting from 5.

## **Nested while loop:**

In [ ]:
# nested while loop
while expression:
     while expression:
          statement
     statement

In [ ]:
row = 1
while row <= 5:
    col = 1
    while col <= row:
        print("*", end=" ")
        col += 1
    print()
    row += 1

*
* *
* * *
* * * *
* * * * *

In [ ]:
row = 1
while row <= 5:
    col = 1
    while col <= 10:
        print(row * col, end="\t")
        col += 1
    print()  # Move to the next row
    row += 1

1	2	3	4	5	6	7	8	9	10
2	4	6	8	10	12	14	16	18	20
3	6	9	12	15	18	21	24	27	30
4	8	12	16	20	24	28	32	36	40
5	10	15	20	25	30	35	40	45	50

## **for practice:**

1. Printing a Multiplication Table:

 Print the multiplication table from 1 to 5 using nested while loops.

2. Creating Patterns:

 Create a pattern of numbers using nested while loops.



3. Fibonacci Sequence:

 Generate the first 10 numbers in the Fibonacci sequence using nested while loops.

4. Checking Prime Numbers:

 Determine and print prime numbers from 1 to 20 using nested while loops.

5. Nested Countdown:

 Create a countdown timer that counts down from 5 to 1 in each iteration, using nested while loops.

## **control statement in while loop:**

In [ ]:
# continue statement
#for i in range(1,10):
#    if i==3:
#        continue
#    print(i)

i = 1
while i <= 9:
    if i == 3:
        i += 1
        continue
    print(i)
    i += 1

1
2
4
5
6
7
8
9

In [ ]:
# break statement
#for i in range(1,10):
#    if i==3:
#        break
#    print(i)

i=1
while i<10:
    if i==3:
        i+=1
        break
    print(i)
    i+=1

1
2

In [ ]:
# pass statement
#for i in range(1,10):
#    if i==3:
#        pass
#    print(i)

i=1
while i<10:
    if i==3:
        i+=1
        pass
    print(i)
    i+=1

1
2
4
5
6
7
8
9

## **For Practice:**

1. Using break Statement:

 Find the first even number in a list and print it using a while loop.

2. Using continue Statement:

 Print all odd numbers from 1 to 10, but skip the number 7 using a while loop.

3. Using pass Statement:

 Print the prime numbers from 1 to 10. For now, include a pass statement to mark where the prime number checking logic should be added using a while loop.

4. Using break to Find Divisible Number:

 Find the smallest multiple of 5 that is greater than 20 and print it using a while loop.

5. Using continue to Skip Negative Numbers:

 Print all positive numbers from -5 to 5, skipping negative numbers using a while loop.

6. Using pass for Placeholder Logic:

 Calculate the sum of digits of a given number. Include a pass statement as a placeholder where the sum calculation logic should be added using a while loop.

### if statemet practice question answers:

In [ ]:
number = 5
if number > 0:
    print("Number is positive")

Number is positive

In [ ]:
number = 6
if number % 2 == 0:
    print("Number is even")

Number is even

In [ ]:
number = 85
if number < 100:
    print("Number is less than 100")

Number is less than 100

In [ ]:
text = ""
if not text:
    print("Text is empty")

Text is empty

In [ ]:
my_list = [1, 2, 3]
if my_list:
    print("List is not empty")

List is not empty

### if_else statement practice question and answers:

In [ ]:
number = int(input("Enter a number: "))
if number > 0:
    print("Number is positive")
else:
    print("Number is negative")

Enter a number: 2
Number is positive

In [ ]:
num1 = int(input("Enter first number: "))
num2 = int(input("Enter second number: "))
if num1 > num2:
    print("The first number is bigger")
else:
    print("The second number is bigger")

Enter first number: 23
Enter second number: 45
The second number is bigger

In [ ]:
year = int(input("Enter a year: "))
if (year % 4 == 0 and year % 100 != 0) or (year % 400 == 0):
    print("Leap year")
else:
    print("Not a leap year")

Enter a year: 2024
Leap year

In [ ]:
year = int(input("Enter a year: "))
if year % 100 == 0:
    print("Century year")
else:
    print("Not a century year")

Enter a year: 2000
Century year

In [ ]:
number = int(input("Enter a number: "))
if number % 2 == 0:
    print("Number is even")
else:
    print("Number is odd")

Enter a number: 23
Number is odd

### if_elif_else statement practice question and answers

In [ ]:
number = int(input("Enter a number: "))
if number > 0:
    print("Number is positive")
elif number < 0:
    print("Number is negative")
else:
    print("Number is zero")

Enter a number: 25
Number is positive

In [ ]:
num1 = int(input("Enter first number: "))
num2 = int(input("Enter second number: "))
num3 = int(input("Enter third number: "))
if num1 >= num2 and num1 >= num3:
    print("The first number is bigger")
elif num2 >= num1 and num2 >= num3:
    print("The second number is bigger")
else:
    print("The third number is bigger")

Enter first number: 23
Enter second number: 25
Enter third number: 12
The second number is bigger

In [ ]:
age = int(input("Enter your age: "))
if age <= 12:
    print("Child")
elif age <= 19:
    print("Teen")
elif age <= 59:
    print("Adult")
else:
    print("Senior")

Enter your age: 56
Adult

In [ ]:
score = int(input("Enter your score: "))
if score >= 50:
    print("Pass")
else:
    print("Fail")

Enter your score: 49
Fail

In [ ]:
x = float(input("Enter x coordinate: "))
y = float(input("Enter y coordinate: "))
if x > 0 and y > 0:
    print("1st Quadrant")
elif x < 0 and y > 0:
    print("2nd Quadrant")
elif x < 0 and y < 0:
    print("3rd Quadrant")
elif x > 0 and y < 0:
    print("4th Quadrant")
else:
    print("Origin")

Enter x coordinate: 6
Enter y coordinate: 23
1st Quadrant

### short hand if_else statement practice questions and answers:

In [ ]:
number = int(input("Enter a number: "))
result = "Positive" if number > 0 else "Negative"
print(result)

Enter a number: 23
Positive

In [ ]:
num1 = int(input("Enter first number: "))
num2 = int(input("Enter second number: "))
result = num1 if num1 > num2 else num2
print(f"The bigger number is: {result}")

Enter first number: 23
Enter second number: 56
The bigger number is: 56

In [ ]:
score = int(input("Enter your score: "))
result = "Pass" if score >= 50 else "Fail"
print(result)

Enter your score: 56
Pass

In [ ]:
x = float(input("Enter x coordinate: "))
y = float(input("Enter y coordinate: "))
result = "1st Quadrant" if x > 0 and y > 0 else "2nd Quadrant" if x < 0 and y > 0 else "3rd Quadrant" if x < 0 and y < 0 else "4th Quadrant" if x > 0 and y < 0 else "Origin"
print(result)

Enter x coordinate: 23
Enter y coordinate: -24
4th Quadrant

### nested if statement question and answers;

In [ ]:
age = int(input("Enter your age: "))
gender = input("Enter your gender (Male/Female): ")

if gender == "Male":
    if age <= 12:
        print("Child (Male)")
    elif age <= 19:
        print("Teen (Male)")
    elif age <= 59:
        print("Adult (Male)")
    else:
        print("Senior (Male)")
elif gender == "Female":
    if age <= 12:
        print("Child (Female)")
    elif age <= 19:
        print("Teen (Female)")
    elif age <= 59:
        print("Adult (Female)")
    else:
        print("Senior (Female)")
else:
    print("Invalid gender input.")

Enter your age: 25
Enter your gender (Male/Female): Male
Adult (Male)

In [ ]:
num1 = int(input("Enter first number: "))
num2 = int(input("Enter second number: "))
num3 = int(input("Enter third number: "))

if num1 >= num2:
    if num1 >= num3:
        print("The first number is the maximum")
    else:
        print("The third number is the maximum")
elif num2 >= num3:
    print("The second number is the maximum")
else:
    print("The third number is the maximum")

Enter first number: 23
Enter second number: 56
Enter third number: 89
The third number is the maximum

In [ ]:
quantity = int(input("Enter the quantity of items: "))

if quantity <= 2:
    discount = 0
elif quantity <= 5:
    discount = 0.10
else:
    discount = 0.20

total_price = 100 * quantity * (1 - discount)
print(f"Total price after discount: {total_price:.2f}")

Enter the quantity of items: 56
Total price after discount: 4480.00

In [ ]:
score = int(input("Enter your score: "))

if score >= 90:
    bonus = 5
elif score >= 80:
    bonus = 2
else:
    bonus = 0

final_score = score + bonus
print(f"Final score with bonus points: {final_score}")

Enter your score: 80
Final score with bonus points: 82

In [ ]:
score = int(input("Enter your score: "))

if score >= 90:
    performance = "Excellent"
elif score >= 80:
    performance = "Good"
elif score >= 70:
    performance = "Average"
else:
    performance = "Needs Improvement"

print(f"Student's performance: {performance}")

Enter your score: 82
Student's performance: Good

### **For loop Practical Questions and answer:**

In [ ]:
fruits = ['apple', 'banana', 'orange', 'grape']

for fruit in fruits:
    print(fruit)

apple
banana
orange
grape

In [ ]:
people = [('Alice', 25), ('Bob', 30), ('Charlie', 22)]

for person in people:
    name, age = person
    print(name, age)

Alice 25
Bob 30
Charlie 22

In [ ]:
text = "hello world"
vowels = "aeiou"

count = 0
for char in text:
    if char in vowels:
        count += 1

print("Number of vowels:", count)

Number of vowels: 3

In [ ]:
colors = {'red', 'green', 'blue', 'red', 'yellow'}

for color in colors:
    print(color)

yellow
green
red
blue

In [ ]:
student_scores = {'Alice': 85, 'Bob': 92, 'Charlie': 78}

for student, score in student_scores.items():
    print(student, "scored", score)

Alice scored 85
Bob scored 92
Charlie scored 78

## **for loop with range function:**

In [ ]:
for num in range(1, 11):
    print(num)

1
2
3
4
5
6
7
8
9
10

In [ ]:
sum_even = 0
for num in range(2, 21, 2):
    sum_even += num

print("Sum of even numbers:", sum_even)

Sum of even numbers: 110

In [ ]:
number = 5
for i in range(1, 11):
    result = number * i
    print(f"{number} * {i} = {result}")

5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

In [ ]:
for num in range(10, 0, -1):
    print(num)

10
9
8
7
6
5
4
3
2
1

In [ ]:
for num in range(1, 6):
    square = num ** 2
    print(f"{num} squared is {square}")

1 squared is 1
2 squared is 4
3 squared is 9
4 squared is 16
5 squared is 25

## **for loop break continue and pass statement:**

In [ ]:
numbers = [3, 5, 8, 11, 14, 17]

for num in numbers:
    if num % 2 == 0:
        print("Found the first even number:", num)
        break

Found the first even number: 8

In [ ]:
for num in range(1, 11):
    if num == 7:
        continue
    if num % 2 != 0:
        print(num)

1
3
5
9

In [ ]:
number = 50

for num in range(number + 1, number * 7):
    if num % 7 == 0:
        print("Smallest multiple of 7 greater than 50:", num)
        break

Smallest multiple of 7 greater than 50: 56

In [ ]:
for num in range(1, 21):
    if num % 6 == 0:
        continue
    if num % 2 == 0:
        print(num)

2
4
8
10
14
16
20

In [ ]:
fib_sequence = [0, 1]

for i in range(2, 10):
    # Fibonacci calculation logic should be added here
    pass

print(fib_sequence)

[0, 1]

## **for loop with if-else statement:**

In [ ]:
for num in range(1, 11):
    if num > 1:
        is_prime = True
        for i in range(2, num):
            if num % i == 0:
                is_prime = False
                break
        if is_prime:
            print(num, "is prime")
        else:
            print(num, "is not prime")
    else:
        print(num, "is not prime")

1 is not prime
2 is prime
3 is prime
4 is not prime
5 is prime
6 is not prime
7 is prime
8 is not prime
9 is not prime
10 is not prime

In [ ]:
for num in range(1, 11):
    if num % 2 == 0:
        print(num, "is even")
    else:
        print(num, "is odd")

1 is odd
2 is even
3 is odd
4 is even
5 is odd
6 is even
7 is odd
8 is even
9 is odd
10 is even

In [ ]:
scores = [85, 92, 78, 65, 95]

for score in scores:
    if score >= 90:
        grade = 'A'
    elif score >= 80:
        grade = 'B'
    elif score >= 70:
        grade = 'C'
    elif score >= 60:
        grade = 'D'
    else:
        grade = 'F'
    print("Score:", score, "Grade:", grade)

Score: 85 Grade: B
Score: 92 Grade: A
Score: 78 Grade: C
Score: 65 Grade: D
Score: 95 Grade: A

In [ ]:
numbers = [3, -1, 0, 5, -2, 0, -4]

positive_count = 0
negative_count = 0
zero_count = 0

for num in numbers:
    if num > 0:
        positive_count += 1
    elif num < 0:
        negative_count += 1
    else:
        zero_count += 1

print("Positive:", positive_count)
print("Negative:", negative_count)
print("Zero:", zero_count)

Positive: 2
Negative: 3
Zero: 2

In [ ]:
words = ['apple', 'banana', 'cherry', 'date', 'fig']

for word in words:
    if len(word) % 2 == 0:
        category = 'even'
    else:
        category = 'odd'
    print(f"The word '{word}' has {category} number of characters")

The word 'apple' has odd number of characters
The word 'banana' has even number of characters
The word 'cherry' has even number of characters
The word 'date' has even number of characters
The word 'fig' has odd number of characters

In [ ]:
words = ['radar', 'hello', 'level', 'python', 'madam']

for word in words:
    if word == word[::-1]:
        print(f"'{word}' is a palindrome")
    else:
        print(f"'{word}' is not a palindrome")

'radar' is a palindrome
'hello' is not a palindrome
'level' is a palindrome
'python' is not a palindrome
'madam' is a palindrome

In [ ]:
for year in range(2000, 2021):
    if (year % 4 == 0 and year % 100 != 0) or (year % 400 == 0):
        print(year, "is a leap year")
    else:
        print(year, "is not a leap year")

2000 is a leap year
2001 is not a leap year
2002 is not a leap year
2003 is not a leap year
2004 is a leap year
2005 is not a leap year
2006 is not a leap year
2007 is not a leap year
2008 is a leap year
2009 is not a leap year
2010 is not a leap year
2011 is not a leap year
2012 is a leap year
2013 is not a leap year
2014 is not a leap year
2015 is not a leap year
2016 is a leap year
2017 is not a leap year
2018 is not a leap year
2019 is not a leap year
2020 is a leap year

In [ ]:
text = "Hello World! 123"

for char in text:
    if char.isupper():
        print(f"'{char}' is an uppercase letter")
    elif char.islower():
        print(f"'{char}' is a lowercase letter")
    else:
        print(f"'{char}' is neither uppercase nor lowercase")

'H' is an uppercase letter
'e' is a lowercase letter
'l' is a lowercase letter
'l' is a lowercase letter
'o' is a lowercase letter
' ' is neither uppercase nor lowercase
'W' is an uppercase letter
'o' is a lowercase letter
'r' is a lowercase letter
'l' is a lowercase letter
'd' is a lowercase letter
'!' is neither uppercase nor lowercase
' ' is neither uppercase nor lowercase
'1' is neither uppercase nor lowercase
'2' is neither uppercase nor lowercase
'3' is neither uppercase nor lowercase

In [ ]:
numbers = [-2, 5, 0, -8, 3, 0, 9]

for num in numbers:
    if num > 0:
        category = 'positive'
    elif num < 0:
        category = 'negative'
    else:
        category = 'zero'
    print(f"{num} is {category}")

-2 is negative
5 is positive
0 is zero
-8 is negative
3 is positive
0 is zero
9 is positive

In [ ]:
sentences = ["A man a plan a canal Panama", "Hello world", "Was it a car or a cat I saw", "Python is cool"]

for sentence in sentences:
    cleaned_sentence = ''.join(filter(str.isalnum, sentence)).lower()
    if cleaned_sentence == cleaned_sentence[::-1]:
        print(f"'{sentence}' is a palindrome")
    else:
        print(f"'{sentence}' is not a palindrome")

'A man a plan a canal Panama' is a palindrome
'Hello world' is not a palindrome
'Was it a car or a cat I saw' is a palindrome
'Python is cool' is not a palindrome

## **Short hand for loop:**

In [ ]:
squared_numbers = [num ** 2 for num in range(1, 6)]
print(squared_numbers)

[1, 4, 9, 16, 25]

In [ ]:
even_numbers = [num for num in range(1, 11) if num % 2 == 0]
print(even_numbers)

[2, 4, 6, 8, 10]

In [ ]:
pattern = ['*' * num for num in range(1, 6)]
for line in pattern:
    print(line)

*
**
***
****
*****

In [ ]:
words = ['apple', 'banana', 'cherry']
uppercase_words = [word.upper() for word in words]
print(uppercase_words)

['APPLE', 'BANANA', 'CHERRY']

In [ ]:
numbers = [-2, 5, -8, 3, 0, 9]
positive_numbers = [num for num in numbers if num > 0]
print(positive_numbers)

[5, 3, 9]

## **Nested for loop answers:**

In [ ]:
for i in range(1, 6):
    for j in range(1, 11):
        result = i * j
        print(f"{i} * {j} = {result}")
    print()  # Empty line after each table

1 * 1 = 1
1 * 2 = 2
1 * 3 = 3
1 * 4 = 4
1 * 5 = 5
1 * 6 = 6
1 * 7 = 7
1 * 8 = 8
1 * 9 = 9
1 * 10 = 10

2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20

3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
3 * 10 = 30

4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
4 * 10 = 40

5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

In [ ]:
size = 5

for i in range(1, size + 1):
    for j in range(i):
        print("*", end="")
    print()

*
**
***
****
*****

In [ ]:
rows = 4
columns = 6

grid = [[1 for _ in range(columns)] for _ in range(rows)]

for row in grid:
    print(row)

[1, 1, 1, 1, 1, 1]
[1, 1, 1, 1, 1, 1]
[1, 1, 1, 1, 1, 1]
[1, 1, 1, 1, 1, 1]

In [ ]:
matrix1 = [[1, 2], [3, 4]]
matrix2 = [[5, 6], [7, 8]]

result = [[0, 0], [0, 0]]

for i in range(len(matrix1)):
    for j in range(len(matrix2[0])):
        for k in range(len(matrix2)):
            result[i][j] += matrix1[i][k] * matrix2[k][j]

for row in result:
    print(row)

[19, 22]
[43, 50]

In [ ]:
size = 8

for i in range(size):
    for j in range(size):
        if (i + j) % 2 == 0:
            print("*", end="")
        else:
            print(" ", end="")
    print()

* * * *
 * * * *
* * * *
 * * * *
* * * *
 * * * *
* * * *
 * * * *

## **while loop solution:**

In [ ]:
numbers = [1, 2, 3, 4, 5]
index = 0

while index < len(numbers):
    print(numbers[index])
    index += 1

1
2
3
4
5

In [ ]:
fruits = ('apple', 'banana', 'orange', 'grape')
index = 0

while index < len(fruits):
    print(fruits[index])
    index += 1

apple
banana
orange
grape

In [ ]:
text = "hello"
index = len(text) - 1

while index >= 0:
    print(text[index])
    index -= 1

o
l
l
e
h

In [ ]:
colors = {'red', 'green', 'blue', 'yellow'}

while colors:
    color = colors.pop()
    print(color)

blue
yellow
green
red

In [ ]:
student_scores = {'Alice': 85, 'Bob': 92, 'Charlie': 78}
keys = list(student_scores.keys())
values = list(student_scores.values())
index = 0

while index < len(keys):
    print(keys[index], "scored", values[index])
    index += 1

Alice scored 85
Bob scored 92
Charlie scored 78

## **while loop with else statement:**

In [ ]:
secret_number = 7
attempts = 0

while attempts < 3:
    guess = int(input("Guess the secret number: "))
    attempts += 1

    if guess == secret_number:
        print("Congratulations! You guessed the secret number.")
        break
    else:
        print("Incorrect guess.")

else:
    print("Sorry, you've used all your attempts. The secret number was", secret_number)

Guess the secret number: 25
Incorrect guess.
Guess the secret number: 7
Congratulations! You guessed the secret number.

In [ ]:
countdown_from = 5

while countdown_from > 0:
    print(countdown_from)
    countdown_from -= 1
else:
    print("Time's up!")

5
4
3
2
1
Time's up!

In [ ]:
num = 2

while num <= 20:
    is_prime = True
    divisor = 2

    while divisor <= num // 2:
        if num % divisor == 0:
            is_prime = False
            break
        divisor += 1

    if is_prime:
        print(num, "is prime")
    num += 1

2 is prime
3 is prime
5 is prime
7 is prime
11 is prime
13 is prime
17 is prime
19 is prime

In [ ]:
number = int(input("Enter a positive integer: "))
original_number = number
sum_digits = 0

while number > 0:
    digit = number % 10
    sum_digits += digit
    number //= 10

print("Sum of digits of", original_number, "is", sum_digits)

Enter a positive integer: 2358
Sum of digits of 2358 is 18

In [ ]:
password = "secure123"
attempts = 0

while attempts < 3:
    user_input = input("Enter the password: ")
    attempts += 1

    if user_input == password:
        print("Password accepted.")
        break
    else:
        print("Incorrect password.")

else:
    print("Sorry, you've used all your attempts. Access denied.")

Enter the password: secure123
Password accepted.

## **Short hand while loop:**

In [ ]:
num = 10
while num >= 2: print(num) if num % 2 == 0 else None; num -= 1

10
8
6
4
2

In [ ]:
power = 0
while power <= 5: print(2 ** power); power += 1

1
2
4
8
16
32

In [ ]:
num = 1
sum_nums = 0
while num <= 10: sum_nums += num; num += 1
print("Sum:", sum_nums)

Sum: 55

In [ ]:
num = 1
squares = []
while num <= 5: squares.append(num ** 2); num += 1
print(squares)

[1, 4, 9, 16, 25]

In [ ]:
seconds = 5
while seconds >= 1: print(f"Countdown: {seconds} second(s)"); seconds -= 1
print("Time's up!")

Countdown: 5 second(s)
Countdown: 4 second(s)
Countdown: 3 second(s)
Countdown: 2 second(s)
Countdown: 1 second(s)
Time's up!

## **Nested while loop:**

In [ ]:
i = 1
while i <= 5:
    j = 1
    while j <= 10:
        result = i * j
        print(f"{i} * {j} = {result}")
        j += 1
    i += 1
    print()  # Empty line after each table

1 * 1 = 1
1 * 2 = 2
1 * 3 = 3
1 * 4 = 4
1 * 5 = 5
1 * 6 = 6
1 * 7 = 7
1 * 8 = 8
1 * 9 = 9
1 * 10 = 10

2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20

3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
3 * 10 = 30

4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
4 * 10 = 40

5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

In [ ]:
row = 1
while row <= 5:
    column = 1
    while column <= row:
        print(column, end=" ")
        column += 1
    print()
    row += 1

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [ ]:
fib_sequence = [0, 1]
count = 2

while count < 10:
    next_num = fib_sequence[-1] + fib_sequence[-2]
    fib_sequence.append(next_num)
    count += 1

print(fib_sequence)

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

In [ ]:
num = 2
while num <= 20:
    is_prime = True
    divisor = 2
    while divisor <= num // 2 and is_prime:
        if num % divisor == 0:
            is_prime = False
        divisor += 1
    if is_prime:
        print(num, "is prime")
    num += 1

2 is prime
3 is prime
5 is prime
7 is prime
11 is prime
13 is prime
17 is prime
19 is prime

In [ ]:
outer_count = 5
while outer_count >= 1:
    inner_count = outer_count
    while inner_count >= 1:
        print(inner_count, end=" ")
        inner_count -= 1
    print()
    outer_count -= 1

5 4 3 2 1
4 3 2 1
3 2 1
2 1
1

## **while loop with break continue and pass statement:**

In [ ]:
numbers = [3, 5, 8, 11, 14, 17]
index = 0

while index < len(numbers):
    if numbers[index] % 2 == 0:
        print("Found the first even number:", numbers[index])
        break
    index += 1

Found the first even number: 8

In [ ]:
num = 1
while num <= 10:
    if num == 7:
        num += 1
        continue
    if num % 2 != 0:
        print(num)
    num += 1

1
3
5
9

In [ ]:
num = 2
while num <= 10:
    is_prime = True
    divisor = 2
    while divisor <= num // 2:
        if num % divisor == 0:
            is_prime = False
            break
        divisor += 1
    if is_prime:
        print(num, "is prime")
    num += 1

2 is prime
3 is prime
5 is prime
7 is prime

In [ ]:
n = 1

while n <= 10:
    if n > 1:  # Prime numbers are greater than 1
        is_prime = True

        # Add prime number checking logic here
        pass

        if is_prime:
            print(n, end=" ")

    n += 1

print()

2 3 4 5 6 7 8 9 10

In [ ]:
number = 20

while True:
    if number % 5 == 0:
        print("Smallest multiple of 5 greater than 20:", number)
        break
    number += 1

Smallest multiple of 5 greater than 20: 20

In [ ]:
num = -5
while num <= 5:
    if num < 0:
        num += 1
        continue
    print(num)
    num += 1

0
1
2
3
4
5

In [ ]:
number = int(input("Enter a positive integer: "))
original_number = number
sum_digits = 0

while number > 0:
    digit = number % 10
    sum_digits += digit
    number //= 10
    pass  # Add the calculation logic here

print("Sum of digits of", original_number, "is", sum_digits)

Enter a positive integer: 25
Sum of digits of 25 is 7